.input-container {
  width: 100%;
}

.regular-style {
  width: 90%;
  height: 35px;
  border-radius: 25px;
  border: none;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
  margin: 15px;
  color: purple;
  font-size: 20px;
  outline: none;
  font-family: "Original Surfer", cursive;
}

.regular-style::placeholder {
  font-size: 15px;
  color: gray;
  opacity: 0.8;
  font-family: "Original Surfer", cursive;
}

.input-error {
  border: 1px solid red;
  color: red;
  background-color: rgb(216, 176, 176);
  width: 100%;
  height: 35px;
  border-radius: 25px;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
  outline: none;
}
.input-error::placeholder {
  color: red;
  font-size: 14px;
}
