.input-container-user {
  width: 100%;
  font-size: 20px;
  display: flex;
  
}

.input-content-user {
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .input-content-user {
    width: 100%;
    font-size: 18px;
  }
}

.regular-style-user {
  width: 90%;
  height: 35px;
  border-radius: 25px;
  border: 1px solid;
  box-sizing: border-box;
  margin: 10px;
  color: purple;
  font-size: 18px;
  outline: none;
  font-family: "Original Surfer", cursive;
}


.regular-style::placeholder {
    font-size: 15px;
    color: gray;
    opacity: 0.8;
    font-family: "Original Surfer", cursive;
  }

.btn-user {
  width: 50%;
  height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: rgb(103, 5, 128);
  color: white;
  font-size: 18px;
  font-family: "Original Surfer", cursive;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: auto;
}

.btn-user:hover{
  opacity: 0.6;
}